<h1>New Inventory</h1>

<%= form_for @inventory do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prevented this inventory from being saved:</h2>

      <ul>
        <% @inventory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div id="description">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div id="quantity">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div id="actions">
    <%= f.submit %>
  </div>

<% end %>
